
<div class="iconCreatorContainer" ng-switch-when="3">
    <section class="sctionWrapper methodToCreateIcon" ng-show="!dashboard.currentStep.iconCreatorTypeId">
        <div ng-repeat="(key, iconCreatorType) in dashboard.currentStep.iconCreatorTypes" ng-click="dashboard.changeIconCreatorType(dashboard.currentStep, iconCreatorType)"
             ng-class="iconCreatorType.id === dashboard.currentStep.iconCreatorTypeId?'buttonWrapper selected':'buttonWrapper'">
            <span ng-class="'button fa fa-4x '+iconCreatorType.typeClass"></span>
        </div>
    </section>
    <section class="iconCreatorSection" ng-show="dashboard.currentStep.iconCreatorTypeId">
        <div class="sctionWrapper" ng-switch="dashboard.currentStep.iconCreatorTypeId">
            <!-- if typing is preferred-->
            <div class="createTextIcon" ng-switch-when="1">
                <div class="headerWrapper">
                    <div class="iconWrapper">
                        <article class="icon fa">
                            <span class="display-ib" ng-bind="dashboard.currentStep.iconText"></span>
                        </article>
                    </div>
                    <div class="inputBoxWrapper">
                        <input type="text" maxlength="2" placeholder="Icon's initials" ng-model="dashboard.currentStep.iconText" />
                    </div>
                </div>
            </div>
            <div class="browseImageIcon" ng-switch-when="2">
                <label file-upload="dashboard.currentStep">
                    <span class="hvr-pulse-grow fa fa-5x fa-upload" ng-hide="dashboard.currentStep.uploadedIconUrl"></span>
                    <span class="changeFile fa fa-2x fa-exchange" ng-show="dashboard.currentStep.uploadedIconUrl"></span>
                </label>
                <p ng-show="dashboard.currentStep.uploadedIconUrl" class="uploadedIconWrapper margin-0">
                    <canvas class="showUploadedIcon" extract-icon="dashboard.currentStep.uploadedIcon" width="150" height="150"></canvas>
                </p>
            </div>
            <div class="selectIcon iconListWrapper" ng-switch-when="3">
                <div ng-repeat="value in dashboard.currentStep.sampleIcons" ng-class="value === dashboard.currentStep.iconClass? 'iconWrapper selected':'iconWrapper'">
                    <article class="hvr-bounce-in icon fa {{value}}" ng-click="dashboard.currentStep.iconClass = value"></article>
                </div>
            </div>
            <div class="snapImageIcon" ng-switch-when="4">
                <label>
                    <span class="hvr-pulse-grow fa fa-5x fa-camera"></span>
                </label>
            </div>
        </div>
    </section>
</div>