<div id="siteSttingsForm" class="siteSttingsFormWrapper viewWrapper slideInRight" >
    <section class="siteSttingsFormContainer" ng-style="{backgroundColor: settings.backgroundStyle.color}">
        <header class="siteSettingsHeader"></header>
        <ul class="siteSettingsBody">
            <li class="bgColorSettingsWrapper">
                <h2 ng-style="settings.fontStyle">Background color</h2>
                <div class="iconBackgroundSetter colorPickerWrapper">
                    <span class="slider"  ng-click="settings.setBackgroundColor($event)"></span>
                    <span class="settingsNobe nobe fa fa-5x fa-caret-up"  ng-style="settings.backgroundStyle"></span>
                </div>
            </li>
            <li class="bgColorSettingsWrapper">
                <h2 ng-style="settings.fontStyle"> Font color</h2>
                <div class="iconBackgroundSetter colorPickerWrapper">
                    <span class="slider" ng-click="settings.setFontColor($event)"></span>
                    <span class="settingsNobe nobe fa fa-5x fa-caret-up" ng-style="settings.fontStyle"></span>
                </div>
            </li>
            <li class="bgColorSettingsWrapper">
                <h2 ng-style="settings.fontStyle">Icon color</h2>
                <div class="iconBackgroundSetter colorPickerWrapper">
                    <span class="slider" ng-click="settings.setIconColor($event)"></span>
                    <span class="settingsNobe nobe fa fa-5x fa-caret-up" ng-style="settings.iconStyle"></span>
                </div>
                <div class="text-center">
                    <div class="iconWrapper display-inline-block">
                        <article class="icon fa fa-3x fa-eye" ng-style="{color: settings.fontStyle.color, backgroundColor: settings.iconStyle.color}"></article>
                    </div>
                </div>

            </li>
        </ul>
    </section>
    <div class="gotoDashboardButton" ng-click="app.gotoDashboard()">
        <span class="fa fa-4x fa-home" ></span>
    </div>
</div>