<div class="iconCreatorContainer">
    <section class="sctionWrapper methodToCreateIcon" ng-if="!icon.selectedIconCreator">
        <div class="buttonWrapper" ng-repeat="option in icon.createIconOptions" ng-click="icon.changeIconCreatorType(option, dashboard.currentStep)">
            <span class="button fa fa-4x" ng-class="option.typeClass"></span>
        </div>
    </section>
    <section class="iconCreatorSection" ng-show="icon.selectedIconCreator">
        <div class="sctionWrapper" ng-switch="icon.selectedIconCreator.id" ng-class="{iconSource: icon.selectedIconCreator.id === 3}">
            <!-- if typing is preferred-->
            <div class="createTextIcon" ng-switch-when="1">
                <div class="headerWrapper">
                    <div class="iconWrapper">
                        <article class="icon fa" ng-style="icon.selectedIconCreator.iconStyle">
                            <span class="display-ib" ng-bind="icon.selectedIconCreator.iconText"></span>
                        </article>
                    </div>
                    <div class="inputBoxWrapper">
                        <input type="text" maxlength="2" autofocus placeholder="Icon's initials" ng-model="icon.selectedIconCreator.iconText" />
                    </div>
                    <div class="iconBackgroundSetter colorPickerWrapper">
                            <span class="slider" ng-click="icon.setIconBackgroundColor(icon.selectedIconCreator)"></span>
                            <span class="nobe fa fa-4x fa-caret-up" ng-style="icon.selectedIconCreator.nobeStyle"></span>
                    </div>
                </div>
            </div>

            <div class="browseImageIcon" ng-switch-when="2">
                <label file-upload="icon.selectedIconCreator">
                    <span class="hvr-pulse-grow fa fa-5x fa-upload" ng-hide="icon.selectedIconCreator.rawFileUrl"></span>
                    <span class="changeFile fa fa-2x fa-exchange" ng-show="icon.selectedIconCreator.rawFileUrl"></span>
                </label>
                <p ng-if="icon.selectedIconCreator.rawFileUrl" class="uploadedIconWrapper margin-0">
                    <canvas class="showUploadedIcon" extract-icon="icon.selectedIconCreator" width="150" height="150"></canvas>
                </p>
            </div>

            <div class="selectIcon iconListWrapper" ng-switch-when="3">
                <div class="iconWrapper" ng-repeat="faIcon in icon.selectedIconCreator.faIconList" 
                     ng-class="{selected: faIcon === icon.selectedIconCreator.iconClass}">
                    <article class="hvr-bounce-in icon fa" ng-class="faIcon" ng-click="icon.selectedIconCreator.iconClass = faIcon"></article>
                </div>
            </div>
            <div class="snapImageIcon" ng-switch-when="4">
                <label>
                    <span class="hvr-pulse-grow fa fa-5x fa-camera"></span>
                </label>
            </div>
        </div>
    </section>
</div>