<div id="dashboardWrapper" class="viewWrapper">

    <section class="iconsWrapper">

        <div class="iconWrapper" ng-repeat="icon in dashboard.icons track by $index">
            <article class="icon fa fa-3x" ng-class="icon.iconDetails.iconClass" ng-click="dashboard.guessPassword(icon)" ng-style="icon.iconDetails.iconStyle">
                <span ng-bind="icon.iconDetails.iconText"></span>
            </article>
        </div>

        <div class="iconWrapper">
            <article class="icon fa fa-3x" ng-click="dashboard.addNewIcon()">
                <span>+</span>
            </article>
        </div>

    </section>

    <div class="userActionWrapper"  ng-class="{closed : !dashboard.currentStep}">

        <aside class="containerDoor" ng-click="dashboard.hideUserActions()">
            <span class="door fa fa-3x fa-angle-right"></span>
        </aside>

        <section class="passwordPanelWrapper" ng-class="dashboard.currentStep.stepClass">

            <header class="stepDescription">
                <i class="headerIcon animated hvr-glow fa fa-4x" ng-class="dashboard.currentStep.headerClass"></i>
                <h2 class="primaryHeader display-ib" ng-bind="dashboard.currentStep.primaryHeader"></h2>
            </header>

            <div class="passwordPanel">
                <div class="dashboard.currentStepWrapper middle" ui-view></div>
            </div>

            <div class="currentStepActions">
                <div class="nextStepWrapper">
                    <div class="customStepActions" ng-repeat="action in dashboard.currentStep.customStepActions">
                        <span ng-class="'fa fa-4x pointer '+action.actionClass" ng-click="action.performAction(dashboard.currentStep)"></span>
                    </div>
                    <div class="homeButton pointer" ng-click="dashboard.showDashboard(dashboard.currentStep)">
                        <span class="fa fa-4x fa-home"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
